@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #009579;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00665e;
  padding: 20px;
}

.logo img {
  width: 120px;
  height: auto;
}

.bank-name {
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}

.logout-btn {
  background-color: white;
  color: #00665e; /* Dark greenish-blue color for text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.logout-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.action-btn {
  width: 200px;
  height: 100px;
  background-color: white;
  color: #009579;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.05);
}
